@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: signature;
    src: url("./Fontes/Authentic Signature.otf");
 }

:root {
    --star: yellow;
    --price: rgb(245, 80, 51);
}

*{
    font-family: "Poppins", sans-serif;
    animation: 0.5s;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "Poppins", sans-serif;
    width: 100%;
}
section{
    width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav{
    z-index: 1000 !important;
}

.flex-h{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.flex-v{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

/* ----------------- NAV ----------------*/

#menu{
    position: fixed;
    top: 80px;
    right: -250px;
    background-color: rgb(254, 254, 254);
    font-size: 14px;
    width: 180px;
    height: calc(100vh - 80px);
    padding: 30px;
    box-shadow: 5px 5px 10px rgb(87, 87, 87);
    transition: 0.5s;
    z-index: 100;
}
#menu ul{
    justify-content: center;
    gap: 20px;   
}
nav{
    display: block;
    width: 100vw;
    background-color: white;
    padding: 20px;
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
}

nav li:hover, nav i:hover, nav span:hover, #menu ul li:hover{
    color: rgb(116, 2, 91);
    cursor: pointer;
}

#left-nav{
    height: 40px;
    margin: 0 50px 0 10px;
}

#center-nav ul{
    font-size: 13px;
    gap: 25px;
}

#rigth-nav{
    font-size: 10px;
    font-weight: 600;
    color: black;
}
    #rigth-nav a{
        font-size: 16px;
        color: black;
        margin-right: 15px;
    }
    #rigth-nav i{
        font-size: 16px;
    }

    .menu-btn{
        display: none;
        font-size: 24px;
    }
/* ----------------- BANNER ----------------*/

.banner-carrossel{
    display: block;
    background-image: url("https://zanotti.com.br/blog/wp-content/uploads/2023/07/Banners_capa_Dicas_para_exposicao_das_lingeries_na_sua_loja.jpg");
    width: 100%;
    height: calc(100vh - 80px);
    background-position: center;
    background-size: cover;
}

/* ----------------- PRATELEIRA ----------------*/

.prateleira{
    text-align: center;
    padding: 50px 160px;
    font-size: 14px;
}
    .prateleira h1{
        font-size: 18px;
        margin-bottom: 40px;
    }

.box-produto{
    width: 325px;
    height: 450px;
    overflow: hidden;
    /*border: solid 1px rgb(209, 209, 209);*/
    justify-content: center;
    gap: 4px;
    color: rgb(68, 68, 68);
    transition: 0.3s;
    border: solid 1px rgb(255, 255, 255);
}
.box-produto:hover{
    cursor: pointer;
    transform: translatey(-10px);
}

.box-produto img{
    display: block;
    height: 325px;
    min-width: 220px;
}

.classificacao i{
    font-size: 8px;
    margin: -1px;
    color: var(--star);
}

.titulo h2{
    font-size: 12px;
}
.titulo h3{
    font-size: 10px;
    margin: 2px 0;
}

.preco span{
    display: block;
    margin: 5px 0;
}
.valor{
    color: var(--price);
    font-weight: bold;
}
.boleto{
    color:var(--price);
    font-size: 8px;
    font-weight: bold;
}
.vezes{
    font-size: 9px;
    font-weight: bold
}

.mais{
    cursor: pointer;
    margin-top: 50px;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
}
.mais p{
    padding: 1px 0;
    transition: .3s;
}
.mais p:hover{
    letter-spacing: 1px;
}
/*.mais p::before{  
    content:"";
    display: inline-block;
    height: 2px;
    width: 30px;
    background-color: black;
}*/

.linha{
    display: block;
    margin-left: 2px;
    height: 1px;
    width: 18px;
    background-color: black;
}

/* ----------- INFO PAGAMENTOS ---------------*/

.info-pagamento{
    background-color: black;
    color: #FFF;
    height: 125px;
    padding: 30px 160px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 18px;
    font-size: 14px;
}

.box-info{
    height: 100%;
    width: 25%;
    text-align: center;
    justify-content: space-between;
    max-width: 220px;
}
.box-info i{
    font-size: 44px;
}
.box-info b{
    font-weight: 600;
}

/* ------------ MAIS LINHAS ----------------*/
.mais-linhas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50vh;
    background-color: black;
    color: #FFF;
    padding: 50px 160px;
    gap: 20px;
}
#ml1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
#ml2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}
#ml3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.ml-box{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 25px;
    background-color: rgb(78, 78, 78);
    -webkit-box-shadow: inset 39px -55px 74px -30px rgb(0, 0, 0);
    -moz-box-shadow: inset 39px -55px 74px -30px rgb(0, 0, 0);
    box-shadow: inset 39px -55px 74px -30px rgb(0, 0, 0);
    transition: .5s;
}
.ml-box:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
.ml-box:hover > h1{
    color: rgb(212, 171, 188);
    transition: 0.5s;
}

.ml-box h1{
    font-family: signature;
    font-size: 120px;
}

.ml-box p{
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 18px;
}

.ml-box button{
    background-color: transparent;
    border: solid 1px rgb(184, 184, 184);
    color: white;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 6px;
    width: 160px;
    letter-spacing: 2px;
    cursor: pointer;
}
.ml-box button:hover{
    border: solid 1px rgb(218, 125, 197);
    color: rgb(218, 125, 197);
    transition: 0.5s;
}

/* ------------ BANNER FIXO ----------------*/

.banner-fixo{
    background-image: url("https://ucouture.com.br/wp-content/uploads/2023/02/banner-site-TOP-ERICA.png");
    width: 100%;
    height: calc(80vh);
    background-position: center;
    background-size: cover;
    border-top: solid 2px rgb(0, 0, 0);
}

/* ------------ DEPOIMENTOS ----------------*/

.depoimentos{
    background-color: #000;
    color: #FFF;
    padding: 40px 160px 100px 160px;
    text-align: center;
}
.titulos-depoimentos{
    margin: 20px 0;
}
.depoimentos h1{
    font-size: 40px;
}
.depoimentos h2{
    font-family: signature;
    font-size: 48px;
    font-weight: 200;
    color: gray;
}
.lista-depoimentos{
    gap: 15px;
}

.box-depoimentos{
    background-color: #f8f8f8;
    color: black;
    padding: 30px;
    min-width: 170px;
    border-radius: 5px;
    transition: 0.4s;
}

.box-depoimentos:hover{
    transform: scale(1.05);
    cursor: pointer;

}
.cabecalho-clientes{
    margin-bottom: 30px;
}
.cabecalho-clientes img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: solid 2px rgb(212, 85, 53);
}
.info-clientes{
    font-size: 10px;
    font-weight: 500;
    width: 100%;
}
.nome{
    color: rgb(212, 85, 53);
    font-weight: bold;
}
.comentario{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
    margin: 10px;
}

/* ------------ RODAPE ----------------*/

.cadastro{
    background-color: rgb(104, 104, 104);
    margin-top: 60px;
    height: 100px;
    padding: 40px 160px 180px 160px;
    gap: 40px;
    color: white;
    font-size: 14px;
    font-weight: 300;
}
.cadastro b{
    font-weight: bold;
}
.cadastro img{
    height: 60px;
}
.cadastre-se{
    gap: 30px;
    justify-content: space-between;
}
.cadastre-se p{
    line-height: 18px;
}

.cadastre-se input{
    padding: 6px;
    outline: none;
    width: 160px;
    font-size: 12px;
}
.cadastre-se input::placeholder{
    font-weight: 600;
    color: #000;
}
#b-enviar{
    background-color: #000;
    color: #FFF;
    font-weight: 500;
    padding: 8px 20px;
    border: none;
    outline: none;
    width: 120px;
    cursor: pointer;
}

/* ------------ RODAPE PARTE 2 ----------------*/
footer{
    position: relative;
}
.info-loja{
    display: flex;
    flex-direction: column;
    margin-top: -150px !important;
    background-color: #FFF;
    width: 75%;
    margin: auto;
    padding: 25px;
}
.img-footer{
    display: flex;
    justify-content: space-between;
    height: 200px;
    overflow: hidden;
}
#img-footer1{
    width: 60%;
}
.img-footer2{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtoh_Bh6CIJumXckQmjuna7ICYuODqrrMZ2iuiH40Hbw&s");
    background-blend-mode: darken;
    width: 36%;
    color: #FFF;
    text-align: center;
    background-color: rgba(7, 0, 48, 0.486);
    justify-content: center;
    gap: 30px;
}
.img-footer2 h1{
    font-family: signature;
    font-size: 50px
}

.img-footer p{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
}

.img-footer p b{
    font-weight: 500;
}

.redes-sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    gap: 20px;
    margin: 30px;
}
.redes-sociais i{
    color: rgb(80, 80, 80);
}
.mais-infos{
    align-items: stretch;
}
.box-footer{
    min-width: 150px;
}
.box-footer h1{
    font-size: 14px;
    font-weight: bold;
    color: rgb(71, 71, 71);
    margin: 15px 0;
}
.box-footer ul li{
    font-size: 12px;
    color: rgb(71, 71, 71);
    line-height: 20px;
}
.box-footer img{
    width: 160px;
}
.mais-info-loja div {
    text-align: center;
    display: flex;
    flex-direction: row;
    border-top: solid 1px black;
    padding: 20px 300px;
    margin: 0;
}
.mais-info-loja div:nth-child(1){
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
}
.mais-info-loja div:nth-child(1) img{
    position: absolute;
    height: 30px;
    right: 15%;
    bottom: 20% ;
}
.mais-info-loja div:nth-child(2){
    font-size: 10px;
}

@media(max-width:1200px){
    #login span{
        display: none;
    }
    #carrinho span{
        display: none;
    }

    nav{
        justify-content: space-between !important;
    }
    #login{
        margin-right: 15px;
    }

    .flex-h {
    justify-content: center;
    flex-wrap: wrap;
    }

    #center-nav{
        display: none;
    }
    .menu-btn{
        display: block;
        margin: 0 20px;
    }

    .banner-carrossel {
        background-position: right;
    }

    .info-pagamento {
        padding: 30px 5%;
        flex-wrap: nowrap;
    }

    .mais-linhas {
        grid-template-columns: 1fr;
        padding: 50px 20%;
        gap: 20px;
    }

    #ml1{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #ml2{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 3;
    
    }
    #ml3{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .ml-box h1{
        font-family: signature;
        font-size: 80px;
    }
    .ml-box p{
        font-size: 16px;
    }

    .prateleira{
        padding: 50px 50px;
    }

    .mais-info-loja div {
        padding: 20px 10px;
    }
    .mais-info-loja div:nth-child(1) img{
        position: inherit;
        height: 30px;
        right: 0;
        bottom: 0;
    }
    .depoimentos {
        padding: 40px 15% 100px 15%;
    }
    .cadastro {
        padding: 40px 50px 300px 50px;
    }

    #img-footer1 {
        display: none;
    }
    .img-footer2{
        width: 95%;
    }
}
@media(max-width:590px){
    
    .banner-carrossel{
        height: 60vh;
    }
    .banner-fixo{
        display: none;
    }
    #left-nav {
        margin: 0;
    }
    .menu-btn {
        margin: 0;
    }

    .mais-linhas{
        grid-template-columns: 1fr;
        padding: 50px 20px;
        gap: 20px;
    }
    .info-pagamento {
        display: none;
    }
    .depoimentos {
        padding: 40px 5% 100px 5%;
    }
    .cadastro {
        padding: 40px 50px 378px 50px;
    }

}